#### Implementação de Soluções de Data Science e Machine Learning para NovaJus
##### Desenvolver e implementar soluções de análise de dados e machine learning para aumentar a eficiência, precisão e tomada de decisões estratégicas no escritório de advocacia NovaJus

In [1]:
# importando o conjunto de dados
import pandas as pd
import numpy as np

In [2]:
# Carregue o Arquivo CSV
file_path = 'JN_31-Ago-2023.csv'  # Substitua com o caminho correto para o seu arquivo
data = pd.read_csv(file_path, encoding='ISO-8859-1', delimiter=';')  # Ajuste a codificação e o delimitador conforme necessário

C:\Users\aaron\AppData\Local\Temp\ipykernel_20668\2605576073.py:3: DtypeWarning: Columns (203,212,236,253,257,411,918,926,927,928,947,948,949,950,960,961,962,964,965,969,1290) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(file_path, encoding='ISO-8859-1', delimiter=';')  # Ajuste a codificação e o delimitador conforme necessário

In [3]:
# Para visualizar as primeiras 10 linhas
print(data.head(10))

    ano   justica  sigla  seq_orgao apublic2 cnccrim1 cnccrimje cnce1 cnce2  \
0  2009  Estadual   TJAC          8     3249     4269      3534   238     0
1  2009  Estadual   TJAL          9     3038     8204      2107    99     0
2  2009  Estadual   TJAM         10     6085    17253     13244    57     0
3  2009  Estadual   TJAP         11     1411     9160       156   849   671
4  2009  Estadual   TJBA         12     8292    71537     27597  6242  4021
5  2009  Estadual   TJCE         13    13341    53647     16327   283  1012
6  2009  Estadual  TJDFT         14    31935    27510     36842     0     0
7  2009  Estadual   TJES         15    10507    30334     14799  5856  4562
8  2009  Estadual   TJGO         16    26121    15188     31329  1431   288
9  2009  Estadual   TJMA         17     7469    19937      7990  1732    24

  cncf1  ...         ipstarget tcltarget munic areakm comarca varae vara  je  \
0  2449  ...  51,6409295352324        nd    nd     nd      nd    nd   nd  nd
1    39  ...  119,658327553776        nd    nd     nd      nd    nd   nd  nd
2   370  ...  92,6138576452554        nd    nd     nd      nd    nd   nd  nd
3    41  ...  111,648228293106        nd    nd     nd      nd    nd   nd  nd
4  9534  ...  129,112416708864        nd    nd     nd      nd    nd   nd  nd
5    19  ...  180,989596945697        nd    nd     nd      nd    nd   nd  nd
6     0  ...  75,0029243033258        nd    nd     nd      nd    nd   nd  nd
7  2016  ...  156,447212556251        nd    nd     nd      nd    nd   nd  nd
8   586  ...  131,946117478446        nd    nd     nd      nd    nd   nd  nd
9  2270  ...  56,1967667925074        nd    nd     nd      nd    nd   nd  nd

  varaje varah
0     nd    nd
1     nd    nd
2     nd    nd
3     nd    nd
4     nd    nd
5     nd    nd
6     nd    nd
7     nd    nd
8     nd    nd
9     nd    nd

[10 rows x 1314 columns]

In [4]:
# Para visualizar as últimas 510 linhas
print(data.tail(10))

       ano   justica  sigla  seq_orgao apublic2 cnccrim1 cnccrimje cnce1  \
1279  2022  Trabalho  TRT16      13212       nd       nd        nd    nd
1280  2022  Trabalho  TRT17      13213       nd       nd        nd    nd
1281  2022  Trabalho  TRT18      13214       nd       nd        nd    nd
1282  2022  Trabalho  TRT19      13215       nd       nd        nd    nd
1283  2022  Trabalho  TRT20      13216       nd       nd        nd    nd
1284  2022  Trabalho  TRT21      13217       nd       nd        nd    nd
1285  2022  Trabalho  TRT22      13218       nd       nd        nd    nd
1286  2022  Trabalho  TRT23      13219       nd       nd        nd    nd
1287  2022  Trabalho  TRT24      13220       nd       nd        nd    nd
1288  2022  Trabalho    TRT     999991        0        0         0     0

     cnce2 cncf1  ...         ipstarget          tcltarget munic       areakm  \
1279    nd    nd  ...  121,034990791897  0,514716089492727   217   331936,948
1280    nd    nd  ...  100,883642195557  0,427339185671108    78    46095,299
1281    nd    nd  ...  81,7582522493767  0,368175804436364   246   340111,376
1282    nd    nd  ...  97,2639697118431  0,435340779819159   102    27774,993
1283    nd    nd  ...  84,9202886234255  0,363366431992931    75    21918,493
1284    nd    nd  ...  75,7435908659298  0,353575804736424   167    52811,126
1285    nd    nd  ...  82,8139534883721  0,355089917960049   224   251611,932
1286    nd    nd  ...  92,9830112741537  0,394329947301016   141   903378,292
1287    nd    nd  ...    94,25280594667  0,377873946066685    79   357145,534
1288     0     0  ...   100,86773828579  0,511515615045998  5570  8515767,049

     comarca varae  vara je varaje              varah
1279      16    23    23  0     23  0,319317930946017
1280      12    24    24  0     24  0,580131847212349
1281      25    48    48  0     48  0,661471421591189
1282      11    22    22  0     22  0,649220038974484
1283       7    15    15  0     15   0,63702769822508
1284       9    23    23  0     23  0,641456625287116
1285      11    14    14  0     14  0,422693406664432
1286      26    38    38  0     38   1,05791701103263
1287      21    26    26  0     26  0,909449942473202
1288     656  1587  1587  0   1587  0,738838913707829

[10 rows x 1314 columns]